<div class="body">
  <div class="container">
    <p id="notice"></p>
      <div class="row">
        <%= render 'books/list', book: @book, user: @user, users: @users %>
        <div class="col-xs-9">
          <h1>Users</h1>

          <table class="table">
            <thead>
              <tr>
                <th>Image</th>
                <th>name</th>
                <th colespan="3"></th>
              </tr>
            </thead>
            <tbody>      
              <% @users.each do |user| %>
              <tr>
                  <td><%= attachment_image_tag user, :profile_image, format: 'jpeg', fallback: "no_image.jpg", size: "40x40" %></td>
                  <td><%= user.name %></td>
                  <td>
                  <%= user.following_user.count %>フォロー中
                </td> 
                 <td>  
                  <%= user.follower_user.count %>フォロワー
                 </td>
                 <td>
                    <% unless user == current_user %>
                      <div class='follow_button_<%= user.id%>' >
                        <%= render 'users/follow_button', user: user %>
                       </div>
                    <% end %>      
                  </td>
                  <td><%= link_to "Show", user_path(user.id) %></td>           
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>  
      </div>
  </div>
</div>
